{{yield}}
<div class=" callout blog-header-container large" style="{{inlineStyle}}">
  <div class="row column text-center">
    <h2>{{title}}</h2>
      <h4 class="subheader">By this person...</h4>
    </div>
  </div>
