.content-section {
    padding-top: 100px;
}

.article-container {
display: block;
height: 100%;
width: 100%;
}

.blog-body-contiainer {
display: block;
width: 100%;
height: auto;
}

.blog-header-container {
  display: block;
  height: 350px;
  width: 100%;
}

.blog-meta-container {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  display: inline-block;
  height: auto;
  width: 100%;
  border-top-color: #2ecc71;
  border-top-width: thin;
  border-top-style: solid;
  border-bottom-color: #2ecc71;
  border-bottom-width: thin;
  border-bottom-style: solid;
}
