<nav class="nav top-bar" data-topbar role="navigation">
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">
        <span class="brand">
          <i class="fa fa-windows" aria-hidden="true"></i>
          Blog Works</span>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>Login</li>
    </ul>
  </div>
</div>
</nav>

{{outlet}}

<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p class="slogan">Finger-lickin' good</p>
      <p class="links">
        <a href="#">Home</a>
        <a href="#">Blog</a>
        <a href="#">Pricing</a>
        <a href="#">About</a>
        <a href="#">Faq</a>
        <a href="#">Contact</a>
      </p>
      <p class="copywrite">Copywrite not copypwrite © 2015</p>
    </div>
  </div>
</footer>
{{layout-initializer}}
